* {
    background: rgb(116, 33, 33);
}

#box {
    width: 200px;
    height: 200px;
    position: absolute;
    background: gray;
    left: 100px;
    top: 100px;
    background-image: url("IMG_1027.jpg");
    background-size: contain;
}